.password-recovery-form {
    label {
        display: flex;
        font-size: 12px;
        margin-bottom: 15px;
    }
}

.password-recovery-form__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--app-form-color);
}

.password-recovery-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-bottom: 10px;
    }

    span {
        margin-bottom: 15px;
        font-size: 14px;
    }
}

.password-recovery-form__body {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;

    // :nth-child(1) {
    //     opacity: 0;
    //     position: relative;
    //     animation: default-form-child-appearance 0.3s ease forwards;
    // }
}

.password-recovery-form__email {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease forwards;
}

.password-recovery-form__submit-btn {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.1s forwards;
}

.password-recovery-form__footer {
    font-size: 14px;

    opacity: 0;
    animation: simple-appearance 0.3s ease 0.2s forwards;
}

.password-recovery-form__change-mode {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    p {
        display: inline;
        cursor: pointer;
        color: var(--app-link-color);
        transition: color 0.3s ease;

        &:hover {
            color: var(--app-link-hover);
        }
    }

    span {
        display: inline;
        margin-right: 5px;
    }
}
