.sign-in-from {
    label {
        display: flex;
        font-size: 12px;
        margin-bottom: 15px;
    }
}

.sign-in-from__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--app-form-color);
}

.sign-in-from__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-bottom: 10px;
    }

    span {
        margin-bottom: 15px;
        font-size: 14px;
    }
}

.sign-in-from__body {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sign-in-form__email {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease forwards;
}

.sign-in-form__password {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.1s forwards;

    svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 5px;
    }
}

.sign-in-form__remember-me {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.2s forwards;
}

.sign-in-form__submit-btn {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.3s forwards;
}

.sign-in-from__footer {
    font-size: 14px;
    opacity: 0;
    position: relative;
    animation: simple-appearance 0.3s ease 0.4s forwards;
}

.sign-in-from__change-mode {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    p {
        display: inline;
        cursor: pointer;
        color: var(--app-link-color);
        transition: color 0.3s ease;

        &:hover {
            color: var(--app-link-hover);
        }
    }

    span {
        display: inline;
        margin-right: 5px;
    }
}
