.sign-in-from {
    min-width: 20vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        display: flex;
        font-size: 12px;
        margin-bottom: 15px;
    }
}

.sign-in-from__row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--app-form-color);
}

.sign-in-from__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-bottom: 10px;
    }

    span {
        margin-bottom: 15px;
        font-size: 14px;
    }
}

.sign-in-from__body {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sign-in-form__info-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2px;
    left: -33px;

    svg {
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
}

.sign-in-form__eye-icon {
    position: absolute;
    top: 10px;
    right: 5px;

    svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
}

.sign-in-form__email {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease forwards;
}

.sign-in-form__password {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.1s forwards;
}

.sign-in-form__remember-me {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.2s forwards;
}

.sign-in-form__submit-btn {
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.3s forwards;
}

.sign-in-from__footer {
    font-size: 14px;
    opacity: 0;
    position: relative;
    animation: simple-appearance 0.3s ease 0.4s forwards;
}

.sign-in-from__change-mode {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    p {
        display: inline;
        cursor: pointer;
        color: var(--app-link-color);
        transition: color 0.3s ease;

        &:hover {
            color: var(--app-link-hover);
        }
    }

    span {
        display: inline;
        margin-right: 5px;
    }
}

.sign-in-from__feedback {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin-bottom: 10px;
        opacity: 0;
        position: relative;
        animation: default-form-child-appearance 0.3s 0.2s ease forwards;
    }

    p {
        margin-bottom: 30px;
        opacity: 0;
        position: relative;
        animation: default-form-child-appearance 0.3s ease 0.3s forwards;
    }
}

.sign-in-from__feedback_icon {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    opacity: 0;
    position: relative;
    animation: default-form-child-appearance 0.3s ease 0.1s forwards;

    svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sign-in-from__feedback_btn {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 6px;
    border: 0;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    color: var(--white);
    opacity: 0.5;
    background-color: var(--grey-3);

    position: relative;

    &:hover {
        opacity: 1;
    }
}
